/* Fix line height of headings */
h1, h2, h3, h4, h5, .site-content .topic-title, .toctree-wrapper .caption, .auto-toc .caption {
    overflow: auto;
    line-height: normal;
    background: none;
}

/* Reduce horizontal padding in left sidebar */
section.site-sidebar {
    padding-left: 4%;
    padding-right: 4%;
}

/* Limit max width of main text */
main.site-main > * {
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
}

/* Centre align logo and title in sidebar and reduce its size when too big */
a.branding-link {
    color: black;
    font-size: 200%;
    font-weight: bold;
    padding: 0;
    text-align: center;
}

img.logo {
    max-width: 100%;
}

/* Increase font size in sidebar */
section.site-nav {
    font-size: 100%;
}

/* Colour hamburger menu on mobile */
a.navigation-toggle {
    color: #de6b00;
}

/* Colour search box outline */
.site-searchform [type="text"]:focus {
    box-shadow: none;
    border-color: #de6b00;
}

/* Colour links */
a, .site-content a .literal {
    color: #de6b00;
}

a:hover, .site-content a:hover .literal {
    color: unset;
}

/* Colour code blocks to work with monokai pygments theme */
div.highlight-bash, div.highlight-default, div.highlight-python3, div.highlight {
    background-color: #333;
}

/* Colour table headings */
th {
    background-color: #de6b00;
}

/* Colour footer background and text */
footer.site-footer {
    background-color: #de6b00;
}

footer.site-footer > div > div > p {
    color: white;
}

/* Limit image widths */
img {
    max-width: 100%;
}

/* Hide prev/next buttons */
.btn--primary {
    display: none;
}

/* Hide unusable scroll bars on code blocks */
div.highlight {
    overflow-y: hidden;
}

/* Restyle API reference sections */
.site-content dl.function {
    margin-top: 40px;
}

.site-content dl:not(.docutils) dt {
    border-radius: 0;
    background: none;
    padding: 0 20px;
    margin: 10px 0;
}

/* Remove colour overloads */
.branding-link__version, .site-breadcrumbs, .site-breadcrumbs__leaf, .site-sidebar a,
.site-content .literal {
    color: unset;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: white;
    }

    .site-sidebar {
        background-color: #333;
    }

    .site-main {
        background-color: #222;
    }

    .navigation-toggle, .mobile-menu-open .navigation-toggle {
        background: rgba(0, 0, 0, 0.3);
    }

    .site-content .literal {
        background-color: #333;
    }

    table {
        background-color: #444;
    }

    table .row-odd td {
        background: #333;
    }

    td {
        border-bottom: 1px solid #222;
    }

    .site-searchform [type="text"] {
        background-color: #222;
        color: unset;
    }
}
